.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b17cf;
  color: white;
  padding: 12px 24px;
  border-radius: 0 0 12px 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome {
  font-weight: bold;
}

.logout {
  background-color: white;
  color: #5b17cf;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.logout:hover {
  background-color: #ece2ff;
}
